@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: white;
    outline: 2px solid orange;
}
header {
    position: relative;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 82, 45);
    transition: .3s;
}
header h1 {
    align-self: flex-start;
    display: block;
}
nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: .5s;
}
.menu li {
    list-style-type: none;
}
.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}
.menu li a:hover {
    box-shadow: 0 -2px 0px white inset;
    background-color: rgb(121, 66, 40);
    transition: .3s linear;
}

.dropdown {
  display: invisible;
}

.toogle-menu {
    position: absolute;
    width: 15px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger, .toogle-menu {
    display: none;
}
nav input:checked ~ .hamburger {
    background: transparent;
}
nav input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
}
nav input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
}
nav input:checked ~ .menu {
    right: 0;
}
.hamburger {
    position: relative;
    width: 20px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: .3s;
}
.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    transition: .3s;
}
.hamburger::before {
    top: -10px;
    width: 20px;
}
.hamburger::after {
    top: 10px;
    width: 20px;
}

@media (width <= 900px) {
    header {
        padding: 10px;
    }
    .hamburger, .toogle-menu {
        display: block;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: rgb(160, 82, 45);
        padding: 50px;
    }
    .menu li {
        width: 100%;
    }
    .menu li a {
        padding: 15px;
    }
}

footer {
  background-color: rgb(160, 82, 45);
  padding: 2.7vw;
  display: grid;
  place-items: center;
}